.sticky-qr {
  display: none;
  position: fixed;
  width: 140px;
  bottom: 1em;
  right: 1em;
  opacity: 0;
  background: linear-gradient(to top right, rgba(82, 233, 229, 0.85), rgba(247, 100, 173, 0.85));
  box-shadow: 0 0 10px #0c0c0c;
  border-radius: 10px;
  transition: opacity 0.3s ease;

  .qr-code {
    display: block;
    width: 100%;
    padding: 16px 16px 0;
    box-sizing: border-box;
  }

  a {
    display: block;
  }

  .appStore {
    display: block;
    width: auto;
    height: 40px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 10px;
  }
}

@media (pointer: fine) {
  .sticky-qr {
    display: block;
  }

  .sticky-qr.visible {
    opacity: 0.9;
  }
}
